name = "duel-games"
main = "src/worker.ts"
compatibility_date = "2026-01-01"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "Room" }
]

[[migrations]]
tag = "v1"
new_classes = ["Room"]
